.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:  1fr 1fr;
grid-template-areas: 
"h1 h1 h1"
"cart 1 cart 2 cart 3 "
"cart 4 cart 5 cart 6";
gap: 5px;
align-items: start;

}
h1{
    text-wrap: balance;
    font-size: 40px;
    text-align: center;
    color: blue;
    
}
.cart{
    display: flex;
    justify-content: start;
    align-items: start;
    width: 350px;
    height: 180px;
    margin: 20px;
    padding: 0px;
    border-radius: 25px;

}
img{
    width:400px ;
    height: 200px;
    border-radius: 25px;
}

